/* Global */
body {
  margin: 2.5rem 18rem;
  font-family: "Fira Sans";
}

h3 {
  margin-top: 0;
}

section {
  padding: 5rem 0rem;
  margin: 0rem;
}

.sobre {
  font-size: 2rem;
  line-height: 2.7rem;
  color: #a3a3a3;
  margin-bottom: 3rem;
  padding-right: 3rem;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
  background-color: #f5f5f5;
  padding: 1rem 2rem;
  border-radius: 0.9375rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #b9b9b9;
}

/* Apresentacao */
.apresentacao {
  text-align: left;
  display: grid;
  align-items: center;
  max-height: 500px;
  margin-bottom: 8rem;
  grid-template-columns: minmax(400px, 1fr) minmax(0, 2fr);
}

.apresentacao img {
  max-height: 500px;
  object-fit: cover;
}

.apresentacao h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.apresentacao h1::before {
  content: url(../img/detalhe.svg);
  display: block;
  width: 8rem;
  height: 0.5rem;
  margin-bottom: 1rem;
  margin-left: -1.8rem;
}

/* Experiencias */
.experiencias {
  display: grid;
  grid-template-columns: minmax(400px, 1fr) minmax(0, 2fr);
  margin: 0;
}

.experiencias h2 {
  font-size: 6rem;
  margin-bottom: 1rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
  color: #e0e0e0;
  white-space: nowrap;
  justify-self: center;
  align-self: center;
}

.experiencias .sobre {
  color: #525252;
}

.experiencias-descricao {
  display: grid;
  margin-top: 2.5rem;
  padding: 0;
  grid-template-columns: 1fr;
  position: relative;
}

.experiencias-descricao p {
  color: #525252;
  max-width: 30.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.experiencias-descricao li {
  background-color: #f0f0f0;
  list-style: none;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
  display: flex;
}

.nome-projeto {
  position: relative;
}

.nome-projeto::before {
  content: "";
  width: 0.5rem;
  height: 1.5rem;
  background-color: red;
  background-image: linear-gradient(to bottom, #b6f829, #67dd0a);
  position: absolute;
  left: -1.625rem;
}

.linguagens {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.linguagens li {
  background-color: #ffffff;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3125rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  display: flex;
  margin: 0;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.linguagens li:hover {
  transform: scale(1.1);
  border-color: #b6f829;
  box-shadow: #b6f829 0px 0px 5px;
}

.linguagens li::before {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  background-color: #b6f829;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

.experiencias-projeto {
  gap: 1.5rem;
  min-width: 60%;
  margin: 0;
  margin-right: 0.5rem;
}

/* Formacao */
.formacao {
  display: grid;
  grid-template-columns: minmax(400px, 1fr) minmax(0, 2fr);
  background-color: #141414;
  color: #ffffff;
  margin-left: -18rem;
  margin-right: -18rem;
  padding-left: 18rem;
  padding-right: 18rem;
}

.formacao .sobre strong {
  color: #ffffff;
}

.formacao h2 {
  font-size: 6rem;
  margin-bottom: 1rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
  color: #070707;
  white-space: nowrap;
  justify-self: center;
  align-self: center;
}

.lista-de-formacao {
  list-style: none;
  display: flex;
  gap: 1.25rem;
  margin: 0;
  margin-bottom: 5rem;
  padding: 0;
  flex-wrap: wrap;
}

.lista-de-formacao li {
  background-color: #000;
  padding: 1.25rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 9.375rem;
  transition: all 0.3s ease;
  position: relative;
}

.lista-de-formacao li:hover {
  transform: scale(1.05);
  box-shadow: #1b1b1b 0px 10px 10px;
}

.lista-de-formacao li p {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin: 0;
}

.lista-de-formacao li h4 {
  position: relative;
}

.lista-de-formacao li h4::before {
  content: "";
  width: 0.2rem;
  height: 1.5rem;
  background-color: red;
  background-image: linear-gradient(to bottom, #b6f829, #67dd0a);
  position: absolute;
  left: -1.4rem;
}

.badge-andamento {
  position: absolute;
  top: -0.625rem;
  right: 1rem;
  background: #b6f829;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

.formacao-adicional li {
  list-style: none;
}

.mais-detalhes-formacao {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
}

.mais-detalhes-formacao img {
  width: 1.5rem;
}

.mais-detalhes-formacao h4 {
  margin: 0;
  display: inline;
  color: #a3a3a3;
}

.formacao-adicional {
  padding: 0;
}

.formacao-adicional ul {
  list-style: none;
  gap: 1.25rem;
  margin: 1rem 0;
  padding: 0;
}

.formacao-adicional ul li {
  margin-bottom: 10px;
}

.formacao-adicional ul li p {
  display: inline;
  background-color: #414141;
  padding: 2px 10px;
  border-radius: 50px;
  font-size: small;
  margin-left: 0.625rem;
}

.formacao-adicional ul li::before {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  background-color: #b6f829;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

/* Footer */
footer {
  background-color: #000;
  color: #ffffff;
  text-align: center;
  margin: 0rem -18rem;
  padding: 2rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2.5rem 18rem;
}

.footer p {
  color: #6b6b6b;
  text-align: left;
  font-size: 1.8rem;
  margin: 0;
}

.footer li {
  list-style: none;
  margin: 0;
}

.footer ul {
  padding: 0;
  margin: 0;
  text-align: left;
  justify-self: center;
}
